<div class="option-card" [formGroup]="formGroup">
  <div class="option-card__header">
    <span class="option-card__badge">{{ 'createVoting.option' | translate }} {{ index + 1 }}</span>
    <button
      *ngIf="canRemove"
      type="button"
      class="option-card__delete"
      (click)="remove.emit()"
      aria-label="Remove option"
    >
      <img src="/assets/icons/cancel.svg" alt="" aria-hidden="true" />
    </button>
  </div>

  <div class="option-card__field">
    <label class="option-card__label" [for]="'opt-title-' + index"
      >{{ 'createVoting.optionTitle' | translate }} <span class="option-card__required">*</span></label
    >
    <input
      [id]="'opt-title-' + index"
      class="option-card__input"
      [class.option-card__input--error]="
        formGroup.get('title')?.invalid && formGroup.get('title')?.touched
      "
      type="text"
      formControlName="title"
      [placeholder]="'createVoting.optionTitlePlaceholder' | translate"
    />
    <span
      *ngIf="formGroup.get('title')?.invalid && formGroup.get('title')?.touched"
      class="option-card__error"
      >{{ 'createVoting.optionTitleRequired' | translate }}</span
    >
  </div>

  <div class="option-card__field">
    <label class="option-card__label" [for]="'opt-desc-' + index">{{ 'createVoting.optionDesc' | translate }}</label>
    <textarea
      [id]="'opt-desc-' + index"
      class="option-card__textarea"
      formControlName="description"
      [placeholder]="'createVoting.optionDescPlaceholder' | translate"
      rows="3"
    ></textarea>
  </div>

  <div class="option-card__field">
    <label class="option-card__label">{{ 'createVoting.optionUploadPhoto' | translate }}</label>

    <div
      *ngIf="!photoPreview && !existingPhotoUrl"
      class="option-card__upload"
      (click)="fileInput.click()"
    >
      <img
        src="/assets/icons/upload.svg"
        class="option-card__upload-icon"
        alt=""
        aria-hidden="true"
      />
    </div>

    <div *ngIf="photoPreview || existingPhotoUrl" class="option-card__preview">
      <img
        [src]="photoPreview || existingPhotoUrl"
        class="option-card__preview-img"
        alt="Option photo"
      />
      <button
        type="button"
        class="option-card__preview-remove"
        (click)="clearPhoto()"
        aria-label="Remove photo"
      >
        <img src="/assets/icons/cancel.svg" alt="" aria-hidden="true" />
      </button>
    </div>

    <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)" />
  </div>
</div>
