<ui-auth-layout [vector]="vector" [vectorLogin]="true" [decoWords]="decoWords">
  <div class="join-card">
    <h1 class="join-card__title">{{ 'join.title' | translate }}</h1>
    <p class="join-card__sub">{{ 'join.subtitle' | translate }}</p>

    <div class="join-card__section">
      <label class="join-card__label" for="joinCode">{{ 'join.codeLabel' | translate }}</label>
      <input
        id="joinCode"
        class="join-card__input"
        type="text"
        [formControl]="codeCtrl"
        (keydown.enter)="joinByCode()"
      />
      @if (codeError()) {
        <span class="join-card__error">{{ codeError() }}</span>
      }
      <button type="button" class="join-card__btn" (click)="joinByCode()">{{ 'join.joinBtn' | translate }}</button>
    </div>

    <div class="join-card__or">{{ 'join.or' | translate }}</div>

    <div class="join-card__section">
      <label class="join-card__label" for="joinLink">{{ 'join.linkLabel' | translate }}</label>
      <input
        id="joinLink"
        class="join-card__input"
        type="text"
        [formControl]="linkCtrl"
        (keydown.enter)="joinByLink()"
      />
      @if (linkError()) {
        <span class="join-card__error">{{ linkError() }}</span>
      }
      <button type="button" class="join-card__btn" (click)="joinByLink()">{{ 'join.joinLinkBtn' | translate }}</button>
    </div>

    <button type="button" class="join-card__back" (click)="goHome()">
      {{ 'join.backHome' | translate }}
      <span class="join-card__back-arrow" aria-hidden="true"></span>
    </button>
  </div>
</ui-auth-layout>
