<ui-auth-layout [vector]="vector" [vectorLogin]="true" [decoWords]="decoWords">
  <div class="card">

    <ng-container *ngIf="state() === 'loading'">
      <p class="message loading-text">{{ 'auth.confirmEmail.loading' | translate }}</p>
    </ng-container>

    <ng-container *ngIf="state() === 'success'">
      <h1 class="title">{{ 'auth.confirmEmail.successTitle' | translate }}</h1>
      <p class="message">{{ 'auth.confirmEmail.successMsg' | translate }}</p>
      <ui-primary-button type="button" (click)="goToLogin()">{{ 'auth.confirmEmail.loginBtn' | translate }}</ui-primary-button>
    </ng-container>

    <ng-container *ngIf="state() === 'error'">
      <h1 class="title">{{ 'auth.confirmEmail.errorTitle' | translate }}</h1>
      <p class="message">{{ 'auth.confirmEmail.errorMsg' | translate }}</p>
      <div class="separator"></div>
      <ui-secondary-button type="button" (click)="goToRegister()">{{ 'auth.confirmEmail.backToSignup' | translate }}</ui-secondary-button>
    </ng-container>

  </div>
</ui-auth-layout>
