<ui-auth-layout [vector]="vector" [vectorLogin]="true" [decoWords]="decoWords">
  <div class="card">
    <h1 class="title">{{ 'auth.login.title' | translate }}</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

      <ui-text-input
        [label]="'auth.email' | translate"
        id="loginEmail"
        type="email"
        autocomplete="email"
        formControlName="email"
      />

      <ui-password-input
        [label]="'auth.password' | translate"
        id="loginPassword"
        autocomplete="current-password"
        formControlName="password"
      />

      <a class="forgot-link" href="#">{{ 'auth.login.forgotPassword' | translate }}</a>

      <p *ngIf="serverError()" class="server-error">{{ serverError() }}</p>

      <ui-primary-button type="submit" [disabled]="loading()">{{ 'auth.login.submit' | translate }}</ui-primary-button>

      <div class="separator"></div>

      <ui-secondary-button type="button" (click)="goToRegister()">
        {{ 'auth.login.noAccount' | translate }}
      </ui-secondary-button>

    </form>
  </div>
</ui-auth-layout>
