<div class="not-found">
  <div class="not-found__top">
    <h1 class="not-found__title">This page didn't get enough votes</h1>
    <p class="not-found__subtitle">Looks like this page was archived or never existed</p>
    <a class="not-found__btn" routerLink="/home">Go back home</a>
  </div>
  <div class="not-found__bottom">
    <img
      class="not-found__vector not-found__vector--left"
      src="/assets/vectors/vector_4.svg"
      alt=""
      aria-hidden="true"
    />
    <img
      class="not-found__vector not-found__vector--right"
      src="/assets/vectors/vector_4.svg"
      alt=""
      aria-hidden="true"
    />
    <img class="not-found__logo" src="/assets/main/logo.svg" alt="VoteMe" />
  </div>
</div>
