<ui-auth-layout>
  <div class="card">

    <ng-container *ngIf="formState() === 'form'">
      <h1 class="title">{{ 'auth.register.title' | translate }}</h1>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

        <ui-text-input
          [label]="'auth.register.fullName' | translate"
          id="fullName"
          type="text"
          autocomplete="name"
          formControlName="fullName"
        />

        <ui-text-input
          [label]="'auth.email' | translate"
          id="email"
          type="email"
          autocomplete="email"
          formControlName="email"
        />

        <ui-password-input
          [label]="'auth.password' | translate"
          id="password"
          autocomplete="new-password"
          formControlName="password"
        />

        <ui-password-input
          [label]="'auth.register.confirmPassword' | translate"
          id="confirmPassword"
          autocomplete="new-password"
          formControlName="confirmPassword"
          crossFieldErrorKey="passwordMismatch"
        />

        <ui-checkbox
          id="terms"
          [label]="'auth.register.terms' | translate"
          formControlName="terms"
        />

        <p *ngIf="serverError()" class="server-error">{{ serverError() }}</p>

        <ui-primary-button type="submit" [disabled]="loading()">{{ 'auth.register.submit' | translate }}</ui-primary-button>

        <div class="separator"></div>

        <ui-secondary-button type="button" (click)="goToLogin()">
          {{ 'auth.register.hasAccount' | translate }}
        </ui-secondary-button>

      </form>
    </ng-container>

    <ng-container *ngIf="formState() === 'success'">
      <h1 class="title">{{ 'auth.register.successTitle' | translate }}</h1>
      <p class="success-msg">{{ 'auth.register.successMsg' | translate }}</p>
      <div class="separator"></div>
      <ui-secondary-button type="button" (click)="goToLogin()">{{ 'auth.register.goToLogin' | translate }}</ui-secondary-button>
    </ng-container>

  </div>
</ui-auth-layout>

